<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- #Añadir metadatos mas tarde -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./IMG/google_icon.ico" type="image/x-ico">
        
        <title>Image Search</title>
        
        <link rel="stylesheet" href="../CSS/index.css"
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html">go back</a>
            </nav> 
        </header>
        
        <main>
            <div class="google">
                <img class="g-logo" src="../IMG/googlelogo.png" alt="Google logo">
                <span>images</span>
            </div>
            <form action="https://www.google.com.mx/search">
                <div class="text-search">
                    <img class="glass" src="../IMG/searching-magnifying-glass_icon.png" alt="magnifying glass">
                    <input class="text-input" type="text" name="q">
                    <input type="hidden" name="udm" value="2">
                </div>
                
            </form>      
        </main>
        
    </body>
</html>